body{
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    background-color: black;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;

}
nav{
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin-bottom: 80px;
}
nav ul li{
    text-decoration: none;
    display: inline;
    padding: 10px;
}
footer{
    background-color: black;
    color: aliceblue;
    
}